/* @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&&display=swap ');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Encode Sans Expanded', sans-serif;
}

#techstacks canvas {
	height: auto !important;
	width: 400px !important;
}

@media screen and (max-width: 1000px) {
	#techstacks canvas {
		height: auto !important;
		width: 366px !important;
	}
}

@media screen and (max-width: 768px) {
	#techstacks canvas {
		height: auto !important;
		width: 80% !important;
	}
}

@media screen and (max-width: 480px) {
	#techstacks canvas {
		height: auto !important;
		width: 100% !important;
	}
}
